<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="run tests in parallel" parallel="tests" junit="false" verbose="1" configfailurepolicy="continue" thread-count="2">
    <!--
        REMEMBER TO set the junit suite parameter to false, otherwise no tests will be executed!!!!
    -->
    <listeners>
        <listener class-name="cucumber.examples.java.testNG.LocalWebDriverListener" />
    </listeners>
    <test name="Tests in FF">
        <parameter name="browserName" value="firefox" />
        <!-- If you want to be more specific, replace this with a list of test classes you'd like to run -->
        <classes>
            <class name="cucumber.examples.java.testNG.runners.RunCukesTestInFirefox" />
        </classes>
    </test>
    <test name="Tests in Chrome" >
        <parameter name="browserName" value="chrome" />
        <classes>
            <class name="cucumber.examples.java.testNG.runners.RunCukesTestInChrome"/>
        </classes>
    </test>
</suite>